.next/
.astro/
dist/
out/
node_modules/
.env*.local
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.astro-dev*.log
.astro-preview*.log
.static-preview*.log
desktop-preview.png
mobile-preview.png
