<footer>
  <a class="brand logo-brand" href="/" aria-label="说开表达 SpeakKai home">
    <img src="/images/speakkai-logo.png" alt="" />
  </a>
  <span>(c) 2026 说开表达 SpeakKai. All rights reserved.</span>
  <a href="https://speakkai.com">speakkai.com</a>
</footer>
