---
const topPageLinks = [
  { href: "/", title: "Home" },
  { href: "/#booking-services", title: "Booking Services" },
  { href: "/#bio", title: "Bio Introduction" },
  { href: "/#portfolio", title: "Portfolio" },
  { href: "/#media-pictures", title: "Media Pictures" },
  { href: "/book/", title: "Book" },
  { href: "/#contact", title: "Contact Me" },
  { href: "/#videos", title: "Videos" }
];
---

<nav class="top-page-links" aria-label="Page links">
  {topPageLinks.map((link) => <a href={link.href}>{link.title}</a>)}
</nav>
